# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- Create a Jupyter Notebook
- Insert code and markdown cells
- Share your notebook through GitHub

List popular languages for Data Science
- Python
- R
- SQL

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Libraries in Python 
2. Pandas
3. NumPy
4. Seaborn
5. Scikit-learn

| Data Science Tools | 
| -------------| 
| MySQL |
| PostgreSQL | 
| NoSQL |
| Hadoop |
| Apache AirFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

## Author
Iryna Pesliak